<!-- breadcrumb-section -->
<div class='breadcrumb-section breadcrumb-bg'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 offset-lg-2 text-center'>
                <div class='breadcrumb-text'>
                    <p>Modern and Quality</p>
                    <h1>Ordered Succeed!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- error section -->
<div class='full-height-section error-section'>
    <div class='full-height-tablecell'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-8 offset-lg-2 text-center'>
                    <img src="https://res.cloudinary.com/doij577wy/image/upload/v1679588113/keychron%20q6/Super_thank_you-rafiki_tyy0ry.png" style="height: 230px; width: 230px;" alt="">
                    <div class='error-text'>
                        <h1>You ordered succeed!.</h1>
                        <p>Your order will be processed as soon as possible.</p>
                        <a href='/' class='boxed-btn'>Keep shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end error section -->